<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technopark.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PLAYLIST"
            android:label="PLAYLIST" />
        <activity
            android:name=".RECENT"
            android:label="RECENT" />
        <activity
            android:name=".ARTISTS"
            android:label="ARTISTS" />
        <activity
            android:name=".ALBUMS"
            android:label="ALBUMS" />
        <activity
            android:name=".SONGS"
            android:label="SONGS" />
        <activity
            android:name=".STORE"
            android:label="STORE"></activity>
    </application>

</manifest>